<h1>About</h1>	
	<p>
		<%= link_to "Inbound Instruments is the premier online marketing toolset.", "http://www.inboundinstruments.com"%>

<div class="footer">
	<small>
	Copyright Matt Polsky
	</small>
</div>
