<h1>Contact Inbound Instruments</h1>
<p>
	Inbound Instruments is currently under a major overhaul. If you have any questions or would like to contact us, please email me at matt@mattpolsky.com.
</p>
	<%= link_to "More Information", "http://www.mattpolsky.com"%>
<p>
	<a href="#">Sign Up For the Waiting List!</a>