<%= link_to "Home", root_path %>
<%= link_to "About", root_path %>

<h1>Welcome to Inbound Instruments</h1>
<p>
	Continue to learn more.
</p>
	<%= link_to "More Information", "www.mattpolsky.com"%>
<p>
	<a href="#">Sign Up Now!</a>
<div class="footer">
	<small>
	Copyright Matt Polsky
	</small>
</div>
