<h1>Welcome to Inbound Instruments</h1>
<p>
	Inbound Instrument’s tools address all facets of inbound marketing. From Search Engine Optimization (SEO), social media, email, Search Engine Marketing (SEM) and beyond, we are here to help simplify your efforts so that you can focus on improving the overall inbound performance of your website, saving time and increasing effectiveness.
</p>
	<%= link_to "More Information", "www.mattpolsky.com"%>
<p>
	<a href="#">Sign Up Now!</a>
